# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://exjnlghuzuvqedlltztz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google OAuth (for Gmail / Drive / Calendar)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# App
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
